<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-border">
              <thead>
                <tr>
                  <th>Sr No.</th>
                  <th>Name</th>
                  <th>Contact no.</th>
                  <th>Email id</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm">
          <div class="row">
            <div class="col-12">
              <label for="">Name</label>
              <input type="text" formControlName="name" placeholder="Enter your name" formControlName="name" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Email id</label>
              <input type="text" placeholder="Enter your email" formControlName="emailId" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Contact No</label>
              <input type="text" placeholder="Enter your Contact No." formControlName="contactNo" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" placeholder="Enter your City" formControlName="city" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" placeholder="Enter your State" formControlName="state" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-6">
              <label for="">Pin Code</label>
              <input type="text" placeholder="Enter your Pin Code" formControlName="pinCode" placeholder="Enter your name" class="form-control">
            </div>
            <div class="col-12">
              <label for="">Address</label>
              <textarea type="text" placeholder="Enter your Address" formControlName="address" placeholder="Enter your name" class="form-control"></textarea>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button type="button" class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button (click)="onSave()" class="btn btn-success">Save Employee</button>
            </div>
          </div> 
        </form>
      </div>

    </div>
  </div>
</div>